@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /*background: linear-gradient(135deg, #1c1c1c, #2c0f50);*/
}


.container {
  max-width: 700px;
  width: 100%;
  background-color: #101010;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.container:hover{
  transition: ease 0.25s all;
  box-shadow: 0px 0px 5px 5px rgba(126, 83, 175, 0.60), 0px 0px 7px 7px rgba(10, 10, 10, 0.50) ;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  color: #ececec;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #612ca1, #976ca8);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  color: #ECECEC;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  color: #fff;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  background-color: #101010;
  border: 1px solid #424242;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #6b3fa0;
}

form .gender-details .gender-title {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

form .category {
  color: #fff;
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #1c1c1c;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  background: #9b59b6;
  border-color: #d9d9d9;
}

form input[type="radio"] {
  display: none;
}

form .button {
  position: relative;
  height: 45px;
  margin: 35px 0;
}

form .button button {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #6b3fa0;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #1c1c1c;
}

.logbtn {
  position: relative;
  top: 11px;
}

.regbtn{
  position: relative;
}


form .button button:hover {
  color: #1c1c1c;
  background-color: #6b3fa0;
}

.login-link {
  text-align: center;
  margin-top: 20px;
  color: #555;
}

.login-link a {
  color: #9b59b6;
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover {
  text-decoration: underline;
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}

@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

.register-link {
  position: relative;
  top: 13px;
  right: 10px;
  padding: 10px;
  color: #555;
  cursor: pointer;
  margin-top: 10px;
  transition: color 0.3s ease;
}

.register-link:hover {
  color: #9b59b6;
}

.back-link {
  position: relative;
  bottom: 30px;
  color: #555;
  cursor: pointer;
  margin-top: 10px;
  padding: 30px;
  transition: color 0.3s ease;
}

.back-link:hover {
  color: #9b59b6;
}

.acc{
  color: #fff;
}

#loginContainer{
  max-width: 700px;
  /*width: 100%;*/
  width: 103vh;
  height: 57vh;
  background-color: #101010;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

#loginContainer:hover{
  transition: ease 0.25s all;
  box-shadow: 0px 0px 5px 5px rgba(126, 83, 175, 0.60), 0px 0px 7px 7px rgba(10, 10, 10, 0.50) ;
}

.homie{
  /*background-image: url("../Assets/home.png");*/
  background-color: #612ca1;
  /*padding: 325px;
  width: 1359px;*/
}
